<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.meeting.dao.MeetingRoomMapper">
	
	<!-- 查询结果集 -->
	<resultMap id="BaseResultMap" type="MeetingRoom">
		<id column="room_id" property="roomId" jdbcType="INTEGER" />
		<result column="room_palce" property="roomPalce" jdbcType="VARCHAR" />
		<result column="is_reservation" property="isReservation" jdbcType="TINYINT" />
		<result column="room_size" property="roomSize" jdbcType="VARCHAR" />
		<result column="has_air_conditoning" property="hasAirConditoning" jdbcType="TINYINT" />
	</resultMap>

	<insert id="insert" parameterType="MeetingRoom">
		insert into meeting_room values
		(default,#{roomPlace},#{isReservation},#{roomSize},#{hasAirConditoning})
	</insert>

	<update id="update" parameterType="MeetingRoom">
		update meeting_room set
		room_place=#{roomPlace},is_reservation=#{isReservation},room_size=#{roomSize},has_air_conditoning=#{hasAirConditoning}
		where room_id=#{roomId}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from meeting_room where
		room_id=#{roomId}
	</delete>
	
	<select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from meeting_room where room_id=#{roomId}
	</select>
	
	<select id="query" resultMap="BaseResultMap">
		select * from meeting_room order by room_id
	</select>
	

	<select id="queryByPage" resultMap="BaseResultMap">
		SELECT m.*
		from meeting_room m
		LIMIT #{start},#{pageSize}
	</select>
	
	
	<select id="queryByCondition" resultMap="BaseResultMap">
		SELECT m.*
		from meeting_room m

		<where>
			<if test="roomPlace != null">
				and room_place=#{roomPlace,jdbcType=VARCHAR}
			</if>
			<if test="isReservation != null and isReservation != '' ">
				and is_reservation=#{isReservation,jdbcType=TINYINT}
			</if>
			<if test="roomSize != null and roomSize != '' ">
				and room_size=#{roomSize,jdbcType=INTEGER}
			</if>
			<if test="hasAirConditoning != null and hasAirConditoning != '' ">
				and has_air_conditoning=#{hasAirConditoning,jdbcType=TINYINT}
			</if>
		</where>
		LIMIT #{start},#{pageSize}				
	</select>
	
	<select id="getCountByCondition" resultType="java.lang.Integer">
		select count(*) from meeting_room
		<where>
			<if test="roomPlace != null">
				and room_place=#{roomPlace,jdbcType=VARCHAR}
			</if>
			<if test="isReservation != null and isReservation != '' ">
				and is_reservation=#{isReservation,jdbcType=TINYINT}
			</if>
			<if test="roomSize != null and roomSize != '' ">
				and room_size=#{roomSize,jdbcType=INTEGER}
			</if>
			<if test="hasAirConditoning != null and hasAirConditoning != '' ">
				and has_air_conditoning=#{hasAirConditoning,jdbcType=TINYINT}
			</if>
		</where>
	</select>
</mapper>