<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.oa.leave.dao.leaveMapper">

	<resultMap id="BaseResultMap" type="com.icss.oa.leave.pojo.leav">
		<id column="lea_id" property="leaId" jdbcType="INTEGER" />

		<result column="lea_start_time" property="leaStartTime"
			jdbcType="TIMESTAMP" />
		<result column="lea_finish_time" property="leaFinishTime"
			jdbcType="TIMESTAMP" />
		<result column="lea_reason" property="leaReason" jdbcType="VARCHAR" />
		<result column="lea_application_status" property="leaApplicationStatus"
			jdbcType="BIT" />
		<result column="lea_application_time" property="leaApplicationTime"
			jdbcType="TIMESTAMP" />
		
		<result column="lea_application_note" property="leaApplicationNote"
			jdbcType="VARCHAR" />
			
		<association property="leaEmployee" javaType="com.icss.oa.system.pojo.Employee">
			<id column="emp_id" property="empId" jdbcType="INTEGER" />
			<result column="emp_name" property="empName" jdbcType="VARCHAR" />
		</association>
		
		<association property="leaApplicationPerson" javaType="com.icss.oa.system.pojo.Employee">
			<id column="emp_id" property="empId" jdbcType="INTEGER" />
			<result column="emp_name" property="empName" jdbcType="VARCHAR" />
		</association>


	</resultMap>
	

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from leav
		where lea_id = #{leaId,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.icss.oa.leave.pojo.leav">
		insert into leav (lea_id, lea_employee_id, lea_start_time,
		lea_finish_time, lea_reason, lea_application_status,
		lea_application_time, lea_application_person_id,
		lea_application_note)
		values (default, #{leaEmployee.empId,jdbcType=INTEGER},
		#{leaStartTime,jdbcType=TIMESTAMP},
		#{leaFinishTime,jdbcType=TIMESTAMP}, #{leaReason,jdbcType=VARCHAR},
		#{leaApplicationStatus,jdbcType=BIT},
		#{leaApplicationTime,jdbcType=TIMESTAMP},
		#{leaApplicationPerson.empId,jdbcType=INTEGER},
		#{leaApplicationNote,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.icss.oa.leave.pojo.leav">
		update leav
		set lea_employee_id = #{empId,jdbcType=INTEGER},
		lea_start_time = #{leaStartTime,jdbcType=TIMESTAMP},
		lea_finish_time = #{leaFinishTime,jdbcType=TIMESTAMP},
		lea_reason = #{leaReason,jdbcType=VARCHAR},
		lea_application_status = #{leaApplicationStatus,jdbcType=BIT},
		lea_application_time = #{leaApplicationTime,jdbcType=TIMESTAMP},
		lea_application_person_id = #{empId,jdbcType=INTEGER},
		lea_application_note = #{leaApplicationNote,jdbcType=VARCHAR}
		where lea_id = #{leaId,jdbcType=INTEGER}
	</update>
</mapper>