<!DOCTYPE html>
<html>
	<head>
		<!--设置浏览器的布局视口，只在移动端浏览器起作用-->
		<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css" />
	</head>
	<body>
		
		<div class="container">
			
			<ol class="breadcrumb">
				<li><a href="#">OA系统</a></li>
				<li><a href="#">会议管理</a></li>
				<li><a href="#">会议室管理</a></li>
				<li>会议室列表</li>
			</ol>
			
			<h3 class="page-header">
				会议室列表
			</h3>
			
			
			<div class="input-group" style="margin-bottom: 20px;">                	
            	<input type="text" class="form-control" id="keywords" name="keywords" placeholder="请输入搜索关键字">
                <span class="input-group-btn">
                	<button type="button" class="btn btn-primary">普通检索</button>
                </span>
            </div>
						
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>会议室编号</th>
						<th>会议室地点</th>
						<th>是否被预约</th>
						<th>可容纳人数</th>
						<th>是否有空调</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(room,index) in meeRoomData">
						 <template  v-for='(meeting, indexs) in meeData'  v-if='indexs == index'>
							<td>{{room.roomId}}</td>
							<td>{{room.roomPlace}}</td>
							<td><font color="#0066ff">{{meeting==null?'暂无预约状态':meeting.meeStartTime}}</font></td>
							<td>{{room.roomSize}}</td>
							<td>{{room.hasAirConditoning?'是':'否'}}</td>
							<td>
								<a :href="'UpdateMeetingRoom.html?roomId=' + room.roomId" class="btn btn-warning btn-xs">修改</a>
								<input type="button" value="删除" class="btn btn-danger btn-xs" @click="del(room.roomId,index);"/>
								<a href="javascript:void(0);" @click="showHistory(room.roomId);" class="btn btn-warning btn-xs">预约历史</a>
							</td>
						</template>
					</tr>	
				</tbody>
			</table>
			
			<div class="row">
				<div class="col-sm-offset-8 col-md-4">
					<a href="AddMeetingRoom.html" class="btn btn-info btn-block">增加新会议室</a>
				</div>
			</div>
						
		</div>			
		
		<script type="text/javascript" src="../js/jquery.js" ></script>
		<script type="text/javascript" src="../js/global.js" ></script>
		<script type="text/javascript" src="../js/bootstrap/js/bootstrap.js" ></script>		
		<script type="text/javascript" src="../js/layer/layer.js" ></script>
		<script type="text/javascript" src="../js/vue/vue2.5.js" ></script>
		<script>
		
			var v = new Vue({
				el:'.container', //绑定数据的范围
				data: {          //数据模型
					meeRoomData:[],
					meeData:[]
				},
				methods:{  //声明方法
					query:function() { //查询方法
						
						//请求地址
						var url = baseUrl + '/room/getLast';
						
						//通过表单序列化形成请求参数
						var params = {};
							
						//ajax调用后台接口	
						$.ajax({
							url:url, //请求url
							type:'GET',  //请求方式 GET POST
							dataType:'json', //响应的数据格式
							data:params,  //请求参数数据
							async:true	  //true表示异步请求
						})
						.done(function(data,status,xhr){
							//把响应的数据赋值到数据模型
							v.meeRoomData = data.roomList;	
							v.meeData=data.lastMeeList;
						})
						.fail(function(xhr,errorStatus,errorText){
							layer.msg('请求失败！' + errorStatus + ',' + errorText);										
						});
						
					},
					del:function(roomId,index) { //删除方法
												
						var flag = window.confirm("确定要删除此会议室吗");
						
						if (!flag)
							return;
						
						
						//请求地址
						var url = baseUrl + '/room/delete';
						
						//通过表单序列化形成请求参数
						var params = {roomId:roomId};
							
						//ajax调用后台接口	
						$.ajax({
							url:url, //请求url
							type:'GET',  //请求方式 GET POST
							dataType:'text', //响应的数据格式
							data:params,  //请求参数数据
							async:true	  //true表示异步请求
						})
						.done(function(data,status,xhr){
							layer.msg('删除会议室成功');							
							//location.reload();//刷新网页
							
							v.meeRoomData.splice(index,1);//前端删除，删除数据模型数组中的指定元素，自动重新渲染画面					
						})
						.fail(function(xhr,errorStatus,errorText){
							layer.msg('请求失败！' + errorStatus + ',' + errorText);										
						});
						
						
					},
					
					showHistory:function(roomId) { //修改或显示详细员工信息
						
						// 利用iframe加载其他网页内容到页面层 type:2
						layer.open({
							title:'会议详细信息',
						    type: 2, 				   
						    area: ['800px', '800px'], //宽高
						    content: 'QueryMeetingByRoom.html?roomId=' + roomId
						});
						
					},
				}
			});		
			
			
			//调用查询方法
			v.query();
			
			
			
		</script>	
	</body>
</html>